@font-face {
	font-family: 'Graphik LCG';
	src: url('fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-Regular.woff2') format('woff2'),
		url('fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-Medium.woff2') format('woff2'),
		url('fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html
{
    font-family: 'Graphik LCG'
}
body {
	font-family: 'Gilroy', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}
.maincon
{background-color: #1a1717;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.non
{
    font-family: 'Graphik LCG'
    sans-serif;
    color: rgb(255, 228, 196);
    font-size: 50px;
    margin-bottom: 30px;
}
.pop
{
    padding: 20px;
    color:rgb(255, 228,196) ;
    background-color: rgb(116, 116, 116) ;
    border: 3px solid rgb(255, 228, 196);
    display: inline-block;
}
.lil
{
    padding: 20px;
    color: rgb(255, 228, 196);
    border: 3px solid rgb(255, 228, 196) ;
    display: inline-block;
}
.pol
{
    width: 1170px;
    margin: 0 auto;
    padding:30px 0px;
}
.vo
{
    background-image:url("kartinki/return.png");
    display: inline-block;
    padding:10px;
    padding-left: 40px;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: 0 0;
    color: rgb(255, 255, 255)
}
.huh
{
    margin-top: 100px;
    padding-left: 100px;
    font-size: 48px;
    color: rgb(255, 228, 196);
}
.h2
{
    padding-left: 180px;
    font-size: 36px;
    color: rgb(255, 228,196);
    margin-top:100px ;
    margin-inline: 25px;
}
.kvas
{
    margin-left: 200px;
    font-size: 18px;
    color: rgb(255, 255, 255)
}
.khcay
{
    padding-left:200px ;
    font-size: 18px;
    color: rgb(255, 255, 255)
}
.pyk
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    color: rgb(255, 228,196);
}
.aboba
{
    border: 5px solid rgb(255, 228,196);
    color: rgb(255, 228,196);
    border-collapse:collapse;
    margin-top: 100px ;
}

.aboba th{
    border: 5px solid rgb(255, 228,196);
}
.aboba td{
    border: 5px solid rgb(255, 228,196);
}
.boba
{
    background-color: #1a1717;
}
.vo1
{
    background-image:url("kartinki/return.png");
    display: inline-block;
    padding:10px;
    padding-left: 40px;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: 0 0;
    color: rgb(255, 255, 255)
}
.pol1
{
    width: 1170px;
    margin: 0 auto;
    padding:30px 0px;
}
.go
{
    font-family: 'Graphik LCG'
    sans-serif;
    color: rgb(255, 228, 196);
}
.huh1
{
    margin-top: 100px;
    margin-bottom: 50px;
    padding-left: 100px;
    font-size: 48px;
    color: rgb(255, 228, 196);
}

.list { 
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 20;
  }
.reb
{
    display: inline-block;
    width: 400px;
    min-height: 500px;
    border: 5px solid rgb(255, 228, 196);
    margin-right: 46px;
    margin-bottom: 20px;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 30px rgba(194, 194, 194, 0.5);
}

.reb:hover{
    box-shadow: 0 0 50px rgba(194, 194, 194, 0.5);
    background-color: rgb(216, 195, 170);
}
.p
{
    margin-right: 0;
}
.parrent{
    width: 1000px;
    margin: 0 auto;
}
.v1
{
    background-color:rgb(116, 116, 116);
    background-image: url("kartinki/11.png");
    background-repeat: no-repeat;
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    -webkit-transition: all 3s ease-out;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.v1:hover
{
    background-image: url("kartinki/111.png");
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 70%;

    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
}
.v2
{
    background-color:rgb(116, 116, 116);
    background-image: url("kartinki/12.png");
    background-repeat: no-repeat;
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    -webkit-transition: all 3s ease-out;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.v2:hover
{
    background-image: url("kartinki/112.png");
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 70%;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
}
.v3
{
    background-color:rgb(116, 116, 116);
    background-image: url("kartinki/13.png");
    background-repeat: no-repeat;
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    -webkit-transition: all 3s ease-out;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.v3:hover
{
    background-image: url("kartinki/113.png");
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 70%;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
}
.v4
{
    background-color:rgb(116, 116, 116) ;
    background-image: url("kartinki/14.png");
    background-repeat: no-repeat;
    -moz-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    -webkit-transition: all 3s ease-out;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.v4:hover
{
    background-image: url("kartinki/114.png");
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 70%;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
}
.diver
{
    position: relative;
    font-size: 1.5em;
    top:220px;
    left:30px;
}

.diver h2
{
    color: bisque;
}
.diver ul
{
    list-style: none
}
.pop1
{
    padding: 5px;
    color:rgb(255, 228,196) ;
    background-color: rgb(116, 116, 116) ;
    border: 3px solid rgb(255, 228, 196);
    display: inline-block;
}
.btn-center 
{
    margin-left: 410px;
}
.beba
{
    background-image:url(kartinki/78.png);
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.po0
{
    background-color: #1a1717;
    width: 100vw;
   
}
.kot
{
    color: rgb(255, 228,196);
    display: inline-block;
    font-size: 1em;
    vertical-align: left;

}
.hyd
{
    color: bisque;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}
.lpop
{
    display: flex;
    align-items: center;
   
}

.po1{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
}
.cvet
{
    box-shadow: 0 0 50px rgba(194, 194, 194, 0.5);
    color: rgb(0,0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    height: 100%;
    min-height: 40px;
    flex-grow: 3;
}

.tabl
{
    width: 80vw;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid rgb(255, 228, 196);
    border-radius: 8px;
    background-color: bisque;
    min-height: 40px;
    display: flex;
    justify-content: space-around;
}
.search::before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto 0;
      width: 25px;
      height: 25px;
      background: url('https://cdn0.iconfinder.com/data/icons/ThemeShock-credit-cards-icons/64/mastercard.png') no-repeat;
      background-size: cover;
}
.search:focus
{
    border: none;
    outline: none;
}
.search::placeholder
{
    font-size: 1em;
    color:rgb(192, 172, 147)
}
* {box-sizing: border-box;}
form {
  width: auto;
  float: right;
  margin-right: 30px;
}
input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #1a1717;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
input:focus {
  width: 300px;
}
button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #1a1717;
}
.text
{
    font-family: 'Graphik LCG';
    margin-top: 100px;
    padding-left: 100px;
    margin-left: 90px;
    text-align: left;
    color:rgb(255, 228, 196);
}
.taxi
{
    font-family: 'Graphik LCG';
    margin-right: 500px;
    text-align: right;
    margin-top: -30px;
    color:rgb(255, 228, 196);
    margin-bottom: 20px;
}
img.rot {
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 1s linear 0s normal none infinite running rot;
    width: 100px;
  }
  @keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }
  @-webkit-keyframes rot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.ta
{
    width: 80vw;
    margin: 0 auto;
    font-family: 'Graphik LCG';
    border: 2px solid rgb(255, 228, 196);
    border-radius: 8px;
    background-color: bisque;
    min-height: 40px;
}
.vac
{
    display: flex;
    align-content: space-between;
    flex-direction: column;
    padding-left: 130px;
}
.a
{
   
    margin-bottom: 10px;
    width: 400px;
}

.b{
    display: flex;
    align-content: space-between;
    flex-direction: row;
}
.g
{
    display: flex;
    align-content: space-between;
    flex-direction: column;
    padding-left: 130px;
    color: bisque;
} 
.rep
{
    display: inline-block;
    width: 400px;
    min-height: 500px;
    border: 5px solid rgb(255, 228, 196);
    margin-right: 46px;
    margin-bottom: 20px;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 30px rgba(194, 194, 194, 0.5);
}
.v11
{

    background-image: url("kartinki/v11.png");
    background-repeat: no-repeat;
    background-color: bisque;
}
.v11:hover
{
    background-image: url("kartinki/v111.png");
}
.rep1
{
    display: inline-block;
    width: 450px;
    min-height: 330px;
    border: 5px solid rgb(255, 228, 196);
    margin-right: 46px;
    margin-bottom: 20px;
    vertical-align: middle;
    position: relative;
    box-shadow: 0 0 30px rgba(194, 194, 194, 0.5);
}
.diver22
{
    position: relative;
    font-size: 1.5em;
    top: 165px;
    
}
.lister
{
    list-style: none;
}
.v22
{

    background-image: url("kartinki/v22.png");
    background-repeat: no-repeat;
    background-color: bisque;
}
.v22:hover
{
    background-image: url("kartinki/v222.png");
}
.v33
{

    background-image: url("kartinki/v33.png");
    background-repeat: no-repeat;
    background-color: bisque;
}
.v33:hover
{
    background-image: url("kartinki/v333.png");
}
.v44
{

    background-image: url("kartinki/v44.png");
    background-repeat: no-repeat;
    background-color: bisque;
}
.v44:hover
{
    background-image: url("kartinki/v444.png");
}

